doctype html
html
  head
  
  body
    h1 Welcome! #{firstName},
        p Forgot your password?Submit a request with your new password and confirm password to : #{url}.\n If you didn't forget your password,please ignore this email
      

        p If you need any help with shopping about products,please contact us!
        p - Troy,CEO OF M-SHOP 